#htPic {
    display: flex;
    width: 100%;
    margin: 0;
    background-size: cover;
}

#listing {
    display: flex;
    margin: 0;
    width: 100%;

}

h3 {
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricePage {
    text-align: center;
    padding-bottom: 50px;
}

.foncPage {
    background-color: green;
    margin-top: 0;
    padding-bottom: 50px;
}

.carousselSlide {
    margin-bottom: 0;
}

.temoin {
    background-color: green;
    margin-top: 0;
    padding-bottom: 50px;
}

.count {
    font-size: 30px;
}

/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.modal-content {
    background: transparent !important;
    border: none !important;
}